.inspector-panel {
    background-color: var(--unity-colors-window-background);
    padding: var(--unity-metrics-default-font_normal_size);
    margin-bottom: var(--unity-metrics-default-font_normal_size)
}
